@mixin borders {
    display: flex;
    align-items: center;
    background: $Verylightgrayishcyan;
    margin-bottom: 1.5rem;
    border-radius: .5rem
}

@mixin info__inputs {
    text-align: right;
    padding: .5rem 1rem;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    background: none;
    color: $Verydarkcyan;
    border: none;
}

@mixin smallTexts {
    font-size: .8rem;
    font-weight:600;
    color: $Darkgrayishcyan;
    margin-bottom: .5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// ### Primary

$Strongcyan: hsl(172, 67%, 45%);

// ### Neutral

$Verydarkcyan: #00494d;
$Darkgrayishcyan: #5e7a7d;
$Grayishcyan: #7f9c9f;
$Lightgrayishcyan: #c5e4e7;
$Verylightgrayishcyan: #f4fafa;
$White: #ffffff;

// RESET
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Space Mono';
    -webkit-tap-highlight-color: transparent;

    ::-webkit-input-placeholder { 
        text-align:right;
    }

    &:focus {
        outline: none;
    }
    
}

body {
    background: $Lightgrayishcyan;
}

h1 {
    color: $Darkgrayishcyan;
    text-align:center;
    letter-spacing: 10px;
    padding: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    max-width: 375px;
    margin: 1.5rem auto;
    background: $White;
    padding: 1.8rem;
    border-radius: 1.5rem;

    .info__container {
        
        // BILL CONTAINER
        .bill__container {
            p {
                @include smallTexts;
            }
            
            .bill__input__container {
                @include borders;
                
                i{
                    color: $Grayishcyan;
                    font-size: 1.3rem;
                    font-weight: 400;
                    padding: 0 1rem;
                }
                
                input {
                    @include info__inputs;
                }
            }
        }
        
        // TIP CONTAINER
        .tip__container {
            max-width: 100%;
            margin-bottom: 1.5rem;
            p {
                @include smallTexts;
                margin-bottom: 1rem;
            }
            
            .tip__buttons {
                display: grid;
                grid-template-columns: 48% 48%;
                gap: 1rem;
                
                button {
                    position: relative;
                    cursor: pointer;
                    padding: .6rem .4rem;
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: $White;
                    background: $Verydarkcyan;
                    border: none;
                    border-radius: .3rem;
                    transition: .4s ease-in-out;
                    transform-style: preserve-3d;
                    transition: transform 200ms cubic-bezier(0, 0, 0.58, 1), background 200ms cubic-bezier(0, 0, 0.58, 1);

                    &::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: #022729;
                        border-radius: inherit;
                        box-shadow: 0 0 0 1px #21aeb6, 0 0.125em 0 0 #083133;
                        transform: translate3d(0, 0.55em, -1em);
                        transition: transform 200ms cubic-bezier(0, 0, 0.58, 1), box-shadow 200ms cubic-bezier(0, 0, 0.58, 1);
                    }
                    
                    &:hover {
                        transform: translate(0, 0.15em);
                        
                        &::before {
                            transform: translate3d(0, 0.5em, -1em);
                        }
                    }

                    &:active {
                        transform: translate(0em, 0.75em);
                        

                        &::before {
                            box-shadow: 0 0 0 2px #083133, 0 0 #083133;
                            transform: translate3d(0, 0, -1em);
                        }
                    }
                }

                .active {
                    color: $Verydarkcyan;
                    background: $Strongcyan;

                    &::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: #2e989e;
                        border-radius: inherit;
                        box-shadow: 0 0 0 1px #013538, 0 0.125em 0 0 #083133;
                        transform: translate3d(0, 0.55em, -1em);
                        transition: transform 200ms cubic-bezier(0, 0, 0.58, 1), box-shadow 200ms cubic-bezier(0, 0, 0.58, 1);
                    }
                    &:hover {
                        transform: translate(0, 0.15em);
                        
                        &::before {
                            transform: translate3d(0, 0.5em, -1em);
                        }
                    }
        
                    &:active {
                        transform: translate(0em, 0.75em);
                        
                        &::before {
                            box-shadow: 0 0 0 2px #083133, 0 0 #083133;
                            transform: translate3d(0, 0, -1em);
                        }
                    }
                }
                
                input {
                    font-size: 1.3rem;
                    font-weight: 700;
                    text-align: right;
                    border-radius: .3rem;
                    padding: .6rem 1rem;
                    border: none;
                    color: $White;
                    background: $Verydarkcyan;
                    transition: transform 200ms cubic-bezier(0, 0, 0.58, 1), background 200ms cubic-bezier(0, 0, 0.58, 1);
                    
                    &::placeholder {
                        color: #d5d6d6;
                    }
                }
            }
        }

        
        .people__container {
            .text__people {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    @include smallTexts;
                }

                .warning {
                    display: none;
                }
            }
            
            .people__input__container {
                @include borders;

                i{
                    color: $Grayishcyan;
                    font-size: 1.3rem;
                    font-weight: 400;
                    padding: 0 1rem;
                }

                input {
                    text-align: right;
                    padding: .5rem 1rem;
                    width: 100%;
                    font-weight: 700;
                    font-size: 1.5rem;
                    background: none;
                    color: $Verydarkcyan;
                    border: none;
                }
            }
        }

        .error {
            .text__people {
                .warning {
                    display: inline;
                    color: rgb(218, 82, 82);
                }
            }

            .people__input__container {
            border: 1px solid red;
            }
        }
    }

    .result__container {
        display: grid;
        height: 350px;
        background: $Verydarkcyan;
        padding: 2.2rem 2rem;
        border-radius: 1rem;

        .result__divider {
            .tip__amount {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;
                
                .left__text {
                    h3 {
                        color: $White;
                    }
                    p {
                        @include smallTexts;
                    }
                }
                
                h2 {
                    font-size: 1.5rem;
                    color: $Strongcyan;
                }
                
            }
    
            .total__amount {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;
                
                .left__text {
                    h3 {
                        color: $White;
                    }
                    p {
                        @include smallTexts;
                    }
                }
                
                h2 {
                    font-size: 1.5rem;
                    color: $Strongcyan;
                }
            }
        }

        button {
            position:relative;
            cursor: pointer;
            align-self: end;
            color: $Verydarkcyan;
            font-weight: 700;
            font-size: 1.3rem;
            background: $Strongcyan;
            width: 100%;
            border: none;
            border-radius: .5rem;
            padding: .2rem .5rem;
            height: 3rem;
            transform-style: preserve-3d;
            transition: transform 200ms cubic-bezier(0, 0, 0.58, 1), background 200ms cubic-bezier(0, 0, 0.58, 1);

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #2e989e;
                border-radius: inherit;
                box-shadow: 0 0 0 1px #013538, 0 0.125em 0 0 #083133;
                transform: translate3d(0, 0.55em, -1em);
                transition: transform 200ms cubic-bezier(0, 0, 0.58, 1), box-shadow 200ms cubic-bezier(0, 0, 0.58, 1);
            }
            &:hover {
                transform: translate(0, 0.15em);
                
                &::before {
                    transform: translate3d(0, 0.5em, -1em);
                }
            }

            &:active {
                transform: translate(0em, 0.75em);
                
                &::before {
                    box-shadow: 0 0 0 2px #083133, 0 0 #083133;
                    transform: translate3d(0, 0, -1em);
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-width: 750px;
        max-height: 400px;
        padding: 2rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        gap: 1rem;

        .info__container {

            .bill__container {
                margin-bottom: .5rem;

                .bill__input__container {
                    margin: 0;
                }
            }

            .tip__container {
                margin-bottom: 1rem;

                p {
                    margin-bottom: .5rem;
                }

                .tip__buttons {

                    button {
                        padding: .2rem .2rem;
                    }
                    
                    input {
                        font-size: 1.2rem;
                        font-weight: 700;
                        text-align: right;
                        border-radius: .3rem;
                        padding: .2rem 1rem;
                        border: none;
                    }
                }
            }
        }

        .result__container {
            display: grid;
        }
    }
}
